<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yisumi.genpasswd</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>F721E0F4-D309-4EA0-98B2-7230546EA32A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AEA29EC-CAA0-4B3D-A530-B04DBEEE07E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>yisumi</string>
	<key>description</key>
	<string>Generation Passwd</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Generation Passwd</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3AEA29EC-CAA0-4B3D-A530-B04DBEEE07E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>passwd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Generateing</string>
				<key>script</key>
				<string>/usr/bin/python gen_passwd.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Generate passwd by python2</string>
				<key>title</key>
				<string>Generate passwd</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F721E0F4-D309-4EA0-98B2-7230546EA32A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About
Generate a passwd of length 16 (You can change the lenght in gen_passwd.py)

# Usage
passwd</string>
	<key>uidata</key>
	<dict>
		<key>3AEA29EC-CAA0-4B3D-A530-B04DBEEE07E1</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>F721E0F4-D309-4EA0-98B2-7230546EA32A</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.cnblogs.com/yisumi/</string>
</dict>
</plist>
